LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=0
DebugLevel=3
PidFile=/var/run/zabbix/zabbix_server.pid
DBHost={{ mysql_host }}
DBName={{ zabbix_db_name }}
DBUser={{ zabbix_db_user }}
DBPassword={{ zabbix_db_pass }}
DBSocket=/var/lib/mysql/mysql.sock
LogSlowQueries={{ zabbix_LogSlowQueries }}
StartPollers={{ zabbix_pollers }}
StartIPMIPollers={{ zabbix_ipmi_pollers }}
StartPreprocessors={{ zabbix_preprocessors }}
StartPollersUnreachable={{ zabbix_unreach_pollers }}
StartTrappers={{ zabbix_trappers }}
StartSNMPTrapper=1
StartPingers={{ zabbix_pingers }}
StartHTTPPollers={{ zabbix_http_pollers }}
HousekeepingFrequency=1
CacheSize={{ zabbix_cache_size }}
StartDBSyncers={{ zabbix_db_syncers }}
HistoryCacheSize={{ zabbix_history_cache_size }}
ValueCacheSize={{ zabbix_value_cache_size }}
TrendCacheSize={{ zabbix_trend_cache_size }}
Timeout=15
AlertScriptsPath=/usr/lib/zabbix/alertscripts
ExternalScripts=/usr/lib/zabbix/externalscripts
StartProxyPollers={{ zabbix_proxy_pollers }}
ProxyConfigFrequency={{ zabbix_proxy_conf_frequency }}
ProxyDataFrequency={{ zabbix_proxy_data_frequency }}

