LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=0
DebugLevel=3
PidFile=/var/run/zabbix/zabbix_server.pid
DBHost={{ mysql_host }}
DBName={{ zabbix_db_name }}
DBUser={{ zabbix_db_user }}
DBPassword={{ zabbix_db_pass }}
DBSocket=/var/lib/mysql/mysql.sock
StartPollers=120
StartIPMIPollers=2
StartPollersUnreachable=30
StartTrappers=120
StartPingers=20
StartHTTPPollers=10
HousekeepingFrequency=1
CacheSize=128M
StartDBSyncers=6
HistoryCacheSize=64M
ValueCacheSize=128M
TrendCacheSize=32M
Timeout=15
AlertScriptsPath=/usr/lib/zabbix/alertscripts
ExternalScripts=/usr/lib/zabbix/externalscripts
StartProxyPollers=5
ProxyConfigFrequency=300
ProxyDataFrequency=60

